fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
opencv-python
pillow
numpy
pandas
scikit-learn
scikit-image
matplotlib
seaborn
insightface
facenet-pytorch
torch
torchvision
torchaudio
ultralytics
tensorflow
keras
python-dotenv
email-validator
bcrypt
psycopg2-binary
deepface
tensorflow